

My First Line of Code

In [5]:
a = 1
print(a)

1

# Here we will load in a CSV file as a data frame

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [39]:
import pandas as pd

iris_data = pd.read_csv('/content/drive/MyDrive/pgsslab2021/iris.csv', header = None)
iris_feature_names = ["Sepal.length", "Sepal.width", "Petal.length", "Petal.width", "Species"]

iris_data.columns = iris_feature_names

print(df)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [15]:
iris_data.iloc[4, :]

0              5
1            3.6
2            1.4
3            0.2
4    Iris-setosa
Name: 4, dtype: object

In [16]:
iris_data.iloc[:,0]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: 0, Length: 150, dtype: float64

In [32]:
iris_data["Species"] = iris_data.Species.astype("category")
iris_data["Sepal.length"] = iris_data["Sepal.length"].astype("float32")
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.length  150 non-null    float32
 1   Septal.Width  150 non-null    float64
 2   Petal.length  150 non-null    float64
 3   petal.Width   150 non-null    float64
 4   Species       150 non-null    category
dtypes: category(1), float32(1), float64(3)
memory usage: 4.5 KB

In [26]:
iris_data["Species"].value_counts()

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: Species, dtype: int64

In [40]:
iris_data.groupby('Species').agg({'Sepal.length' : ['min', 'max', 'mean'], 'Sepal.width' : ['min', 'max', 'mean'],'Petal.length' : ['min', 'max', 'mean'], 'Petal.width' : ['min', 'max', 'mean']})

                Sepal.length              ... Petal.width
                         min  max   mean  ...         min  max   mean
Species                                   ...
Iris-setosa              4.3  5.8  5.006  ...         0.1  0.6  0.244
Iris-versicolor          4.9  7.0  5.936  ...         1.0  1.8  1.326
Iris-virginica           4.9  7.9  6.588  ...         1.4  2.5  2.026

[3 rows x 12 columns]

In [41]:
from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [45]:
import pandas as pd
wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1UUPo2tzUetf-sySZqa3InKeH-iFKr7i2cSSc6FRAPyQ/edit#gid=596537255') 
sheet = wb.worksheet('iris')

# Now that we have the tab specified it’s time to get the data. To do this we will just call the get_all_values() function off of the sheet object we created above:
data = sheet.get_all_values()

df = pd.DataFrame(data[1:])
df.columns = data[0]

df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9    3  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3      5  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7    3  5.2  2.3  Iris-virginica
145  6.3  2.5    5  1.9  Iris-virginica
146  6.5    3  5.2    2  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9    3  5.1  1.8  Iris-virginica

[149 rows x 5 columns]